/** @format */

body {
  background: rgb(225, 230, 189);
}
#app {
  background: rgb(224, 231, 163);
  border: 1px solid grey;
  border-radius: 20px;
  padding: 20px;
  margin: 50px auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo_list {
  &__edit_btn,
  &__remove_btn {
    color: violet;
  }
}

.template {
  display: none;
}
